<!DOCTYPE html>
<html>
    <head>
        <title>Account - Add</title>
    </head>
    <body>
        <h1>Add New Account</h1>
        <form action="/account/insert" method="get">
            E-Mail: <input name="email" type="email" />
            <br />
            First Name: <input name="f_name" type="text" />
            <br />
            Last Name: <input name="l_name" type="text" />
            <br />
            <input type="submit" />

        </form>
    </body>
</html>